* {
    box-sizing: border-box;
}

body {
    background: #0b3468 linear-gradient(to right, #0b3468, #fd9eff);
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: #e8e5ea;
    font-size: 30px;
}

h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

select {
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .25);
    padding: 7px;
    display: block;
    width: 100%;
}

button {
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .25);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
}

input, textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .25);
    min-height: 30px;
    display: block;
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 4px;
    padding-left: 8px;
}

.label-padding-bottom progress {
    margin-left: 3px;
    margin-right: 3px;
}

.label-padding-bottom input:focus,
.label-padding-bottom select:focus,
.label-padding-bottom textarea:focus {
    border: 2px solid #fd9eff;
    outline: 0;
}

.label-padding-bottom select,
.label-padding-bottom input,
.label-padding-bottom textarea {
    border: 2px solid transparent;
}

.label-padding-bottom.success input,
.label-padding-bottom.success select,
.label-padding-bottom.success textarea {
    border-color: #2ecc71;
}

.label-padding-bottom.error input,
.label-padding-bottom.error select,
.label-padding-bottom.error textarea {
    border-color: #AE1010;
}

.label-padding-bottom {
    position: relative;
}

.label-padding-bottom i {
    color: black;
    visibility: hidden;
    position: absolute;
    top: 45%;
    transform: translate(0, -100%);
    right: 30px;
}

.label-padding-bottom.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.label-padding-bottom.error i.fa-exclamation-circle {
    color: #AE1010;
    visibility: visible;
}

.label-padding-bottom small {
    color: #e74c3c;
    visibility: hidden;
}

.label-padding-bottom.error small {
    visibility: visible;
}

.form-back {
    background-color: rgba(0, 0, 0, .25);
    width: 50%;
    margin: auto;
    border: none;
    border-radius: 20px;
}

.flex-label {
    font-size: medium;
    display: flex;
    align-items: center;
}

.label-padding-left {
    padding-left: 10px;
}

.label-padding-bottom {
    padding-bottom: 16px;
}

.textarea-padding {
    padding-left: 10px;
    padding-top: 10px;
}


::placeholder {
    color: #333333;
}


.pink-color {
    color: #fd9eff
}

.container {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.row {
    display: flex;
    max-width: 100%;
    padding: 0 0 10px;
    width: 100%;
    align-items: center;
}

.column {
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding-right: 20px;
}

.column-25 {
    max-width: 25%;
}

.column-33 {
    max-width: 33.3%;
}

.column-75 {
    max-width: 75%;
}

.no-padding {
    padding-right: 0;
}

.checkbox {
    display: inline-block;
    width: auto;
}
