
body {
    background: #0b3468 linear-gradient(to right, #0b3468, #fd9eff);
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: #e8e5ea;
    font-size: 30px;
}

h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.pink-color {
    color: #fd9eff
}

.row {
    display: flex;
    max-width: 100%;
    padding: 0 0 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form-back {
    background-color: rgba(0, 0, 0, .25);
    width: 50%;
    margin: auto;
    border: none;
    border-radius: 20px;
}

.container {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.column {
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding-right: 20px;
}

.column-30 {
    max-width: 30%;
}

.column-padding-left {
    margin-left: 4px;
}

.column-10 {
    max-width: 10%;
}
.column-20 {
    max-width: 20%;
}
input {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    background-color: rgba(255, 255, 255, .25);
    min-height: 30px;
    display: block;
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 4px;
    padding-left: 8px;
    color: white;
}

button {
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .25);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    display: block;
    width: 106%;
    padding: 10px;
    color: white;
}
